[Desktop Entry]
Type=Application
Name=Packages
Exec=/usr/bin/glacier-packagemanager
Icon=/usr/share/glacier-packagemanager/images/glacier-packagemanager.png
X-Desktop-File-Install-Version=0.20
Name[cs]=Balíčky
Name[uk]=Пакети
Name[ru]=Пакеты
Name[pl]=Pakiety
Name[de]=Packete
